<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <table  class="table table-striped">
        <thead>
          <tr>
            <th>Language</th>
            <th>Platform</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lang of languages">
            <td>{{lang.name}}</td>
            <td>{{lang.platform}}</td>
            <td>{{lang.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>